:root {
  --white: #fff;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray: #6c757d;
  --gray-light: #adadad;
  --gray-dark: #343a40;
  --nav-bg-dark: #444;
  --bright-yellow: #e4d804;
  --overlay: rgba(0, 0, 0, 0.5);
  --no-color: transparent;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Home section */
h2 {
  font-weight: 600;
}
.color-yellow {
  color: var(--bright-yellow);
}
.hide {
  display: none !important;
}
nav {
  background-color: var(--nav-bg-dark) !important;
  width: 100vw;
}
.logo {
  width: 150px;
}
.active {
  color: var(--bright-yellow) !important;
}
.search-input:focus {
  color: var(--light);
  box-shadow: none;
  outline: none;
}
.clear-btn {
  color: var(--bright-yellow);
  /* min-width: 1rem !important; */
  padding: 0 20px;
  font-size: 1.5rem;
}
.bg-container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background-image: linear-gradient(var(--overlay), var(--overlay));
}
.bg-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.hero-section {
  padding: 10rem 0 1rem;
}
.main-h {
  color: var(--light);
  font-size: 3.5rem;
  font-weight: 900;
  margin: 5rem 0 4rem;
}
.form-container {
  margin: 0 0 5rem;
  box-shadow: 0 0 8px -2px var(--light);
}
.card {
  box-shadow: 0 0 8px -2px var(--light);
  transition: 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.02, 1.02);
}
.movie-card-overlay {
  color: var(--no-color);
  transition: all 0.3s ease-in-out;
}
.movie-card-overlay:hover {
  color: var(--light);
  background-image: linear-gradient(to bottom, var(--overlay), var(--overlay));
}
.movie-card-overlay:hover > .like-btn {
  background-color: var(--light);
  color: var(--dark);
}
.card-text {
  max-height: 6rem;
}
.like-btn {
  background-color: var(--no-color);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  width: 50px;
  height: 50px;
  border: none;
}

/* movie details page */
.movie-details-container {
  background-image: linear-gradient(var(--overlay), var(--overlay));
  padding: 2rem 10rem;
}
.poster-container {
  width: 50%;
}
.movie-details {
  padding-right: 5rem;
  text-align: justify;
}
.movie-title {
  font-size: 3rem;
  font-weight: 700;
}
.movie-overview {
  font-size: 1.5rem;
}
.movie-release-date {
  font-size: 2rem;
  font-weight: 600;
}
.rating {
  font-size: 1.5rem;
}

/* favourites sections */
.favourite-movies-container {
  padding: 10rem 1rem;
}
.dislike-btn {
  background-color: var(--no-color);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
  width: 50px;
  height: 50px;
  border: none;
}
