:root {
  --nav-bg-dark: #444;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --bright-yellow: #e4d804;

  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-light: #adadad;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

nav {
  background-color: var(--nav-bg-dark) !important;
}
.logo {
  width: 150px;
}
.active {
  color: var(--bright-yellow) !important;
}
.search-input:focus {
  box-shadow: none;
  outline: none;
}
.submit-btn {
  color: var(--bright-yellow);
}

.bg-container {
  min-height: 100vh;
  background-image: url("https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg");
  background-size: cover;
}
